<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcrição de Áudio com OpenAI</title>

    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    {% block head %}{% endblock %}
</head>
<body>
    <div class="limitador">
        <nav class="navbar navbar-expand-md bg-white sticky-top border-bottom">
            <div class="container">
            <a class="navbar-brand d-flex align-items-center gap-2" href="#" aria-label="SintoMed - Início">
                <img src="/static/img/audiolab.png" alt="Logotipo AudioLab" class="brand-logo" style="max-width: 100px; border-radius: 50%;" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Abrir menu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainNav">
                </ul>
                <div class="d-flex gap-2">
                <a href="/sobre" class="btn btn-primary">Sobre</a>
                </div>
            </div>
            </div>
        </nav>

        <div class="conteudo">

            {% block body %}{% endblock %}

        </div>

        <div class="rodape">
            <a class="link-rodape" href="https://sistemasdeinformacao.espm.edu.br" target="_blank">
                <small>Desenvolvido em 2025 pelo curso de Sistemas de Informação da ESPM</small>
                <br/>
                <img src="/static/img/logo-si-512.png" style="width: 100%; max-width: 150px;" />
            </a>
        </div>

        {% block rodape %}{% endblock %}

    </div>

    {% block scripts %}
    <script>
        const btnMenu = document.querySelector('.hamb');
        const mobileMenu = document.getElementById('mobileMenu');

        btnMenu.addEventListener('click', () => {
        mobileMenu.classList.toggle('show');
        });
    </script>

    {% endblock %}

</body>
</html>
